/* #000000;  колір тексту */
/* #2196F3; колір наведення */
/* #212121;  колір заголовків */
/* #757575; другорядний колір тексту */
/* #FFFFFF; білий колір, колір фону */
/* rgba(255, 255, 255, 0.6); колір додатковий тексту   */

:root {
  --titel-color: #212121;
  --text-color: #757575;
  --acent-color: #2196f3;
  --white-color: #ffffff;
  --logo-header-text: #000000;
  --text-link-address: rgba(255, 255, 255, 0.6);
  --background-footer: #2f303a;
  --background-team: #f5f5f5;
}

body {
  color: var(--text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  outline: 1px solid red;
}
/* Шапка сторінки */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--logo-header-text);

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-left {
  color: var(--acent-color);
}
.nav-list {
  display: flex;
  align-items: center;
  margin: 0 0 0 93px;

  padding: 0;
  list-style: none;
}
.nav-item:not(:first-child) {
  margin-left: 50px;
}
.nav-list .link {
  display: inline-block;
  padding: 32px 0;
  color: var(--titel-color);

  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--acent-color);
}
.link.current {
  color: var(--acent-color);
}

.header-contacts .link {
  display: inline-block;
  padding: 15px 0;
  color: var(--text-color);

  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--acent-color);
}
.header-contacts .link:last-child {
  margin-left: 50px;
}

/* Головний матеріал */
.hero {
  background-color: var(--background-footer);
  text-align: center;
}
.hero-titel {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--acent-color);
  color: var(--white-color);
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Наші переваги */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-list-titel {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--titel-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Чим ми займаємось  */
.product {
  padding-bottom: 94px;
}
.product-titel {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--titel-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.product-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.product-item img {
  display: block;
}
.product-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-team);
}
.team-titel {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--titel-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-titel {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--titel-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-list-text {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.18;
}

/* Підвал сторінки */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer);
}
.footer .logo {
  color: var(--white-color);
}
.address-list {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.address-list .link {
  text-decoration: none;
  font-style: normal;
  color: var(--white-color);
}
.address-list .link:focus {
  color: var(--acent-color);
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list .contact {
  color: var(--text-link-address);
}
.address-list .contact:hover {
  color: var(--white-color);
}

/* ПОРТФОЛІО */
/* Фільтер */
.exsemples {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter-list {
    display: flex;
    justify-content: center;
    margin: 0 0 34px 0;
  list-style: none;
}

.filter-item:not(:last-child) {
    margin-right: 9px;
}
.filter-list .button {
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter-list .button:hover,
.filter-list .button:focus {
  background-color: var(--acent-color);
  color: var(--white-color);
}

/* Приклади робіт */
.exsemples-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  list-style: none;
}
.exsemples-list img {
    display: block;
}
.exsemples-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}
.exsemples-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.exsemples-list-titel {
    margin-top: 20px;
    margin-right: 24px;
    margin-bottom: 0;
    margin-left: 24px;
  color: var(--titel-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.exsemples-list-text {
    margin-top: 4px;
    margin-right: 24px;
    margin-bottom: 20px;
    margin-left: 24px;
  font-size: 16px;
  line-height: 1.87;
}
